#blue{
    background-color: blue;
}

#green{
    background-color: green;
}
#red{
    background-color: red;
}

div {
    font-size: 30pt;
} 

.one , 
.two {
    font-size: 30pt;
}

div  p {
    background-color: red;
}

div > p {
    background-color: red;
}

div + p {
    background-color: red;
}

div ~ p {
    background-color: red;
}
